.dev-by {
    font-size: 0.8em;
}
body {
    background-color: window;
}
.container {
    background-color: window;
}
header {
    height: 80px;
}
.top-spaced-5 {
    padding-top: 5%;
}
.bottom-spaced-5 {
    padding-bottom: 5%;
}
.bottom-spaced-2 {
    padding-bottom: 2%;
}